:root {
  --body-bg-color: #17082A;
  --box-bg-color: #210F37;
  --orange: #F79E44;
  --pink: #ECBBDA;
  --purple: #6644B8;
}

header, main, footer {
  width: 100%;
  padding: 0 5rem;
}

header {
  background: linear-gradient(rgba(23,8,42,.1),rgba(23,8,42,1)), top center / cover no-repeat url("./../public/assets/wall-1.jpg");
  background-size: cover;
}

header h1{
  font-size: 4rem;
  margin: 8rem 0;
  color: var(--orange);
  text-align: center;
}

header .search-bar{
  float: right;
}

main {
  margin: 2rem;
  text-align: center;
}

article {
  width: 100%;
  text-align: center;
}

#movie-list {
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: left;
  gap: 1.6rem;
}

#movie-list li{
  flex: 0 0 300px;
  height: 350px;
  background-color: var(--box-bg-color);
  border: 1px solid var(--purple);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.movie-card {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  position: relative;
}

.movie-card figure {
  width: 100%;
  height: 85%;
  background-color: #ECBBDA;
  -webkit-mask-image: -webkit-gradient(
  linear, left top, left bottom, 
  color-stop(0.00,  rgba(0,0,0,1)),
  color-stop(0.85,  rgba(0,0,0,0.4)),
  color-stop(1.00,  rgba(0,0,0,0))
  );
  text-align: center;
  position: relative;
}

.movie-card img {
  width: auto;
  height: 100%;
  text-align: center;
  position: absolute; 
  left: -50%;
}

.movie-card h3{
  color: var(--pink);
  text-transform: uppercase;
}

.movie-card .description {
  position: absolute;
  display: none;
}

.movie-type, .movie-year {
  position: absolute;
  left: 0.5rem;
  width: 60px;
  height: 25px;
  line-height: 25px;
  background-color: var(--orange);
  text-decoration: none;
  border-radius: 5px;
}
.movie-type {
  top: 30%;
}

.movie-year {
  top: 40%;
}


footer {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
